extends layout

block content
  include templates/header.pug
  h1= title

    //- div(id="bodyRoyal")
    //- table(border='1')
    //-   thead
    //-   tr
    //-     th ID
    //-     th Name
    //- tbody
    //-   each item in items
    //-   tr
    //-     td=item.rid
    //-     td=item.name